{% layout "server/layouts/base.liquid" %}

{% block content %}

  {% comment %} <h1 class="h1">{{ title }}</h1> {% endcomment %}

  <ul class="flex">
    {% for messageInfo in messages %}
      <li class="message" id="{{messageInfo.id}}">
        {{ messageInfo.bericht }}
        <p>{{messageInfo.date}}</p>
      </li>
    {% endfor %}
    {% comment %} {% for item in items %}
      <li>
        <a href="/number/{{ items.number }}">
          {% render 'server/components/card/card.liquid', items: items %}</a>
      </li>
    {% endfor %} {% endcomment %}
  </ul>

{% endblock %}